@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}


html{
  height:100%;
}

body {
  min-height:100%;
  min-width:1190px;
  margin:0;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  font-family:"Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  text-align: left;
  background-color: #FFFFFF;
}


.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  vertical-align: top;
  cursor:pointer;
  border:none;
}

.button-current{
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #FFE17F;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  vertical-align: top;
  cursor:pointer;
  border:none;
}

.button-orange{
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  background-color:#FFC700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  vertical-align: top;
  cursor:pointer;
  border:none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Pages */

.header{
  width:1160px;
  min-height:190px;
  padding:0;
  margin:0 auto;
}

.navigation{
  height:150px;
  color: #000000;
  background-color:#FFE17F;
  margin-top:40px;
  display: flex;
  flex-direction:column;
}

.logo{
  width:145px;
  height:36px;
  margin-left:61px;
  margin-top:0px;
  padding-top:0px;
  position:relative;
  top:-23px;
}

.user-menu{
  display: flex;
  color: #000000;
  background:  #FFE17F;
  margin-top:13px;
}

.search{
  width:516px;
  height:20px;
  display: flex;
  border: 0px solid rgba(0, 0, 0, 0);
  margin-left:60px;
}

.search-button{
  height:16px;
  width:16px;
  margin-left:0px;
  margin-top:auto;
  margin-bottom:auto;
  background-image: url("../img/search.svg");
  background-position: 50% 50%;
  background-size: 16px;
  background-repeat: no-repeat;
  background-color: #FFE17F;
  border: 0px solid rgba(0, 0, 0, 0);
  cursor:pointer;
}

.search-input{
  width:480px;
  margin-left:20px;
  margin-top:auto;
  margin-bottom:auto;
  font-size: 16px;
  line-height: 19px;
  opacity: 30%;
  background-color: #FFE17F;
  border: 0px solid rgba(0, 0, 0, 0);
}

.user-menu-container{
  display:flex;
  margin:0;
  padding:0;
}

.user-menu-link-in{
  display:block;
  width:134px;
  height:21px;
  text-decoration: none;
  margin:0;
  margin-left:24px;
  background:url("../img/user.svg");
  background-position: 0% 30%;
  background-size: 12px 13px;
  background-repeat: no-repeat;
  padding-left:24px;
  padding-right:0px;
}

.user-menu-link-out{
  min-width:60px;
  height:21px;
  margin:0;
  padding:0;
  opacity:30%;
  text-decoration: none;
}

.user-menu-link-compare{
  width:100px;
  height:21px;
  text-decoration: none;
  margin:0;
  margin-left:41px;
  background:url("../img/compare.svg");
  background-position: 0% 30%;
  background-size: 12px 10px;
  background-repeat: no-repeat;
  padding-left:20px;
}

.user-menu-link-basket{
  width:100px;
  height:21px;
  text-decoration: none;
  margin-left:29px;
  background:url("../img/cart.svg");
  background-position: 0% 20%;
  background-size: 16px 14px;
  background-repeat: no-repeat;
  padding-left:26px;
}

.basket-popover-container{
  display:none;
  position: relative;
}

.basket-popover::before{
  margin:0;
  padding:0;
  height:6px;
  content: url("../img/triangle1.svg");
  position:absolute;
  top:-15px;
  left:150px;
}

.basket-popover{
  margin:0;
  padding:0;
  width:320px;
  min-height:135px;
  background-color: #000000;
  position: absolute;
  top:33px;
  right:-45px;
  z-index: 2;
  font-family: inherit;
  color:#FFFFFF;
  font-size:16px;
  line-height: 20px;
  display:flex;
  flex-direction: column;
  box-shadow: 0 10px rgb(0,0,0,0.1);
}


.basket-popover-list{
  list-style: none;
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
}

.basket-popover-item{
  margin:0;
  padding:20px;
  padding-bottom:21px;
  padding-right:0;
  border-bottom:1px solid #1A1A1A;
  display:flex;
  flex-wrap: nowrap;
}

.basket-popover-item-txt{
  width:180px;
  margin:0;
  margin-left:23px;
  padding:0;
  padding-right:10px;
  box-sizing: border-box;
  white-space: normal;
}

.basket-popover-item-deletion{
  width:45px;
  margin:0;
  margin-left:5px;
  border:none;
  background-image: url("../img/delete1.svg");
  background-color:#000000;
  background-size: 11px 11px;
  background-position: 60% 6px;
  background-repeat: no-repeat;
}

.basket-popover-total{
  min-height:44px;
  margin:0;
  padding:0;
  padding-left:20px;
  padding-right:20px;
  background-color:#1A1A1A;
  display:flex;
}

.basket-popover-goods{
  width:70px;
  margin:0;
  padding:0;
  padding-top:12px;
}

.basket-popover-count{
  margin:0;
  margin-right:auto;
  padding:0;
  padding-left:4px;
  padding-top:12px;
}

.basket-popover-sum{
  margin:0;
  padding:0;
  padding-top:12px;
}

.basket-popover-cost{
  margin:0;
  padding:0;
  padding-left:4px;
  padding-top:12px;
}

.basket-popover-link-button{
  width:280px;
  height:50px;
  margin:20px;
  margin-bottom:21px;
  padding-top:15px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  cursor:pointer;
}


.user-menu-link-quantity{
  display:flex;
  flex-wrap:wrap;
  width: 21px;
  height: 21px;
  margin-left:993px;
  margin-top:-21px;
  margin-bottom:0;
  background-color:#ffffff;
  border-radius: 50%;
  background-repeat: no-repeat;
  text-decoration:none;

}

.user-menu-quantity{
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  margin:auto;
  text-decoration:none;
 }


 .user-menu-link-txt{
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  vertical-align: 50%;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/



.main-menu{
  display: flex;
  list-style: none;
  margin-left:0px;
  margin-top:29px;
  padding:0px;
}

.main-menu-item-catalog{
  width:236px;
  margin-left:60px;
  margin-top:15px;
  list-style-type:none;
  padding-top: 0;
}

.main-menu-link {
  width:236px;
  color: #000000;
  font-family:"Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  margin: 0;
  padding: 0;
  padding-bottom: auto;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  vertical-align: top;
}

.main-menu-item-catalog-button-circle{
  margin-left: 7px;
  width:50px;
  height:50px;
  background:url("../img/plus1.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0, 0.2);
  cursor:pointer;
}

.main-menu-item-delivery{
  width:140px;
  margin-left:247px;
  margin-top:15px;
  text-align: left;
}

.main-menu-item-waranty{
  width:140px;
  margin-left:19px;
  margin-top:15px;
  text-align: left;
}

.main-menu-item-contacts{
  width:140px;
  margin-left:62px;
  margin-right:59px;
  margin-top:15px;
  text-align: right;
  padding:0px;
}

.main-menu-categories-container{
  position:relative;
  display:none;
}


.main-menu-categories{
  width:1160px;
  position:absolute;
  z-index: 1;
  top:7px;
  left:-60px;
  margin:0px;
  padding:0;
  padding-left:60px;
  padding-top:33px;
  padding-bottom:27px;
  list-style: none;
  background-color: #FFE17F;
  display:grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 30px);
  grid-gap:10px 20px;
  box-sizing: border-box;
}

.grid-1{
  grid-column:1;
}

.grid-2-1{
  grid-column:2;
  grid-row:1;
}

.grid-2-2{
  grid-column:2;
  grid-row:2;
}

.grid-3-1{
  grid-column:3;
  grid-row:1;
}

.main-menu-categories-item{
  width:200px;
  list-style: none;
  margin:0px;
  padding:0px;
}


.main-menu-categories-link {
  display:block;
  width:200px;
  color: #000000;
  margin:0px;
  padding:0px;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

/*************___MAIN___*************************/

.main-index{
  flex-grow:1;
}

.promo{
width:1160px;
margin:0 auto;
display:flex;
flex-wrap:wrap;
flex-direction: column;
}

.promo-list{
  margin:0;
  padding:0;
  box-shadow: inset 0 150px #FFE17F;
}

.promo-list-item-1{
  display:flex;
}

.promo-list-item-2{
  display:flex;
  display:none;
  margin:0 auto;
}

.promo-list-item-3{
  display:flex;
  display:none;
  margin:0 auto;
}

.promo-button-prev {
  height:60px;
  width:20px;
  margin-top:250px;
  margin-left:19px;
  background-image: url("../img/left-tall-arrow-4.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  border:none;
  background-color: rgb(0, 0, 0, 0);
  cursor:pointer;
}

.promo-button-next {
  height:60px;
  width:20px;
  margin-top:250px;
  margin-left:-39px;
  background-image: url("../img/right-tall-arrow-4.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  border:none;
  background-color: rgb(0, 0, 0, 0);
}

.promo-list-item-image-link{
  width:560px;
  height:560px;
  margin-left:-39px;
}

.promo-list-item-container{
  width:560px;
  margin-left:60px;
  display:flex;
  flex-direction: column;
  margin-bottom:0;
  margin-top:0px;
  padding:0px;
}
.promo-list-item-number{
  width:250px;
  margin-left:auto;
  margin-right:49px;
  padding-left:auto;
  padding-top:31px;
  color:#ffffff;
  font-family:"Rubik", sans-serif;
  font-size: 180px;
  line-height: 135px;
  font-weight: 800;
  text-align:right;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
}

.promo-list-item-tagline {
  margin:0;
  color:#000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  position:relative;
  top:-45px;
}


.promo-list-item-description{
  margin:0;
  padding-top:29px;
  padding-bottom:50px;
  position:relative;
  top:-45px;
}

.promo-pagination{
  margin:0;
  padding:0;
  display:flex;
  flex-wrap:wrap;
  position:relative;
  top:-45px;
}

.promo-list-item-button{
  width:220px;
  height:21px;
  margin-bottom:0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  background-size: 8px 220px;
  background-repeat: no-repeat;
  background-color: #FFE17F;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor:pointer;
}

.promo-pagination-button-1{
  width:12px;
  height:12px;
  margin-left:200px;
  margin-top:auto;
  margin-bottom:auto;
  padding:0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0, 1);
  background-color: #ffffff;
  cursor:pointer;
}

.promo-pagination-button-2{
  width:12px;
  height:12px;
  margin-left:22px;
  margin-top:auto;
  margin-bottom:auto;
  padding:0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0, 1);
  background-color: #ffffff;
  cursor:pointer;
}

.promo-pagination-button-3{
  width:12px;
  height:12px;
  margin-left:22px;
  margin-top:auto;
  margin-bottom:auto;
  padding:0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0, 1);
  background-color: #ffffff;
  cursor:pointer;
}

.promo-pagination-button-current{
  background-color: #000000;
  cursor:pointer;
}

.promo-list-table{
  width:160;
  margin-left:0;
  margin-top:0;
  margin-bottom:0;
  padding-top:70px;
  position:relative;
  top:-45px;
}

td.td-promo{
  width:160px;
  height:41px;
  padding:0;
  vertical-align: top;
}

.promo-list-item-table-values{
  color:#000000;
  font-size: 36px;
  line-height: 30px;
  vertical-align: top;
}

.promo-list-item-table-parameters{
  color:#444444;
  font-size: 16px;
  line-height: 30px;
  vertical-align: top;
}


/*
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
*/

.categories{
  width:1160px;
  margin:0 auto;
}

.categories-list{
  width: 1160px;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left:0px;
  margin-top:70px;
  padding-left: 0px;
}

.categories-list li:nth-child(6n){
  width: 160px;
  margin-right:0px;
}

.categories-item{
  width: 160px;
  margin-right:40px;
}


.categories-link::before{
  display: block;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background:#FFE17F;
  content:"";
  margin-bottom: 33px;
}

.categories-link{
  text-decoration: none;
  width: 160px;
  height: 253px;
  padding-top: 193px;
  background-repeat: no-repeat;
}

.categories-title{
  width: 160px;
  color:#000000;
  font-family:"Raleway",sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: left;
  font-style: normal;
  letter-spacing: -0.02em;
}


.cat-img-1::before{
  background-image: url("../img/virtual-reality.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.cat-img-2::before{
  background-image: url("../img/monopod.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.cat-img-3::before{
  background-image: url("../img/action-camera.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.cat-img-4::before{
  background-image: url("../img/fitness-bracelet.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.cat-img-5::before{
  background-image: url("../img/smart-watch.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.cat-img-6::before{
  background-image: url("../img/copter.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SERVICES*/

.services{
  width:100%;
  margin:0 auto;
  padding-top:69px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.services-group-background{
  width:100%;
  margin:0;
  padding:0;
  background-color:#f0f0f0;
  box-shadow: inset 0 100px #ffffff;
}

.services-group{
  width:1160px;
  margin:0 auto;
  padding:0;
  display: flex;
}

ul.services-pagination{
  width:280px;
  min-height:319px;
  margin:0;
  padding:0;
  padding-top:80px;
  border-right: 7px solid rgba(0, 0, 0, 1);
  list-style: none;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.services-pagination-item{
  display: flex;
  width:279px;
  min-height:40px;
  margin:0;
  padding-top:auto;
  padding-bottom:auto;
}

.services-pagination-item-2{
  display: flex;
  width:279px;
  min-height:40px;
  margin-top:24px;
  margin-bottom:25px;
  padding-top:auto;
  padding-bottom:auto;
}

.services-pagination-item-current{
  background-color:#000000;
  color:#FFE17F;
  border:none;
}

.services-pagination-link{
  width:160px;
  height:20px;
  margin-top:10px;
  padding-top:auto;
  padding-bottom:auto;
}

ul.services-list{
  width:760px;
  list-style: none;
  margin:0;
  padding:0;
  padding-left:120px;
  display:flex;
  flex-direction: column;
}

.services-list-item{
  min-height:319px;
  margin:0;
  padding:0;
}


.delivery-img{
  background-image:url("../img/delivery-man.svg");
  background-size: 136px 164px;
  background-repeat: no-repeat;
  background-position: 90%;

}

.warranty-img{
  background-image:url("../img/warranty-1.svg");
  background-size: 171px 195px;
  background-repeat: no-repeat;
  background-position: 90%;
  display:none;
}

.credit-img{
  background-image:url("../img/credit-1.svg");
  background-size: 156px 188px;
  background-repeat: no-repeat;
  background-position: 90%;
  display:none;
}

.services-list-item-name{
  width:560px;
  margin:0;
  padding-top:70px;
  color: #000000;
  font-family:"Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  text-align: left;
  font-style: normal;
}

.services-list-item-description{
  width:497px;
  padding-top:34px;
  margin:0;
  white-space:pre-line;
}

/*************ДОСТАВКА ПОД ЗАКАЗ*************************/

.services-delivery-background{
  width:100%;
  margin:0;
  padding:0;
  box-shadow: inset 0 69px #F0F0F0;
  background:#ffffff;
}

.services-delivery{
  width:1160px;
  margin:0 auto;
  padding-left:0px;
  padding-top:159px;
  padding-bottom:97px;
  display: flex;
}

.services-delivery-link-1{
  margin: 0;
  min-height: 100px;
  width: 125px;
  background-color:#FFE17F;
  background-image: url("../img/delivery-1.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.services-delivery-link-2{
  width:932px;
  background-color: #F0F0F0;
  text-decoration: none;
  display: flex;
  padding-left:0;
  padding-top:37px;
  padding-bottom:40px;
}

.services-delivery-link-txt{
  width:910px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height:23px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.services-delivery-button-info{
  width:103px;
  background-image:url("../img/info.svg");
  background-size:40px 40px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #F0F0F0;
  border:0px;
  cursor:pointer;
}

.modal-container{
  position:relative;
  display:none;
}

.modal-background{
  position:fixed;
  z-index:1000;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(240, 240, 240, 0.9);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.modal{
  width:920px;
  margin:0;
  padding-top:62px;
  padding-bottom:78px;
  padding-left:70px;
  padding-right:60px;
  border:10px solid #000000;
  box-shadow: 0 10px rgb(0,0,0,0.1);
  background-color: #FFFFFF;
  box-sizing: border-box;
  display:flex;
  flex-wrap: wrap;
}

.modal-subtitle{
  width:710px;
  margin:0;
  padding:0;
  padding-bottom:68px;
  color: #000000;
  font-family:"Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  text-align: left;
  font-style: normal;

}

.modal-close-button{
  width:50px;
  margin:0;
  padding:0;
  margin-bottom:68px;
  background-image: url("../img/big-cross-close-1.svg");
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: 24px 10px;
  border:none;
  background-color: #FFFFFF;
  cursor:pointer;
}

.modal-form{
  display:grid;
  grid-template-columns: 360px 160px 160px;
  column-gap: 40px;
}

.field-group{
  margin:0;
  padding:0;
  padding-bottom:10px;
  display:flex;
  flex-direction: column;
}

.modal-name{
  grid-column: 1;
}
.modal-email{
  grid-column: 2/ span 2 ;
}
.modal-request{
  grid-column: 1/ span 2;
}

.modal-form-submission-button{
  grid-column: 1;
  justify-self: start;
  cursor:pointer;
}


.modal-label{
  margin:0;
  padding:0;
  padding-bottom:14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  background-color: #FFFFFF;
  letter-spacing: -0.02em;
  vertical-align: top;
}

.modal-form-input{
  min-height:60px;
  margin:0;
  padding:0;
  padding-left:20px;
  border:none;
  background-color:#F0F0F0;
  background-repeat: no-repeat;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgb(0, 0, 0,);
  text-align: left;
  vertical-align: middle;
}

.modal-form-input-name{
  background-image: url("../img/user-4.svg");
  background-position: 326px 24px;
  background-size: 13px 12px;
}

.modal-form-input-email{
  background-image: url("../img/message.svg");
  background-position: 325px 24px;
  background-size: 15px 12px;
}

.modal-form-comment{
  margin:0;
  padding-top:5px;
  padding-bottom:5px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
}

.input-empty{
  color:#FF3D3D;
}

.field-group-modal-quantity{
  margin:0;
  padding:0;
  grid-column: 3;
  padding-bottom:10px;
  display:flex;
  flex-wrap: wrap;
  position:relative;
  border:none;
}

.modal-form-set-quantity-info-button{
  margin:0;
  padding:0;
  height:26px;
  width:26px;
  background-image: url("../img/modal-info.svg");
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: 0% 0%;
  background-color:rgb(0, 0, 0, 0);
  border: none;
  position:absolute;
  top:-38px;
  left:118px;
  cursor:pointer;
}

.modal-form-set-quantity{
  margin:0;
  padding:0;
  width:50px;
  height:60px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 50% 50%;
  background-color:#F0F0F0;
  border: none;
}

.set-quantity-subtract{
background-image: url("../img/minus1.svg");
}

.set-quantity-add{
  background-image: url("../img/plus1.svg");
}

.modal-form-set-quantity-input{
  margin:0;
  padding:0;
  padding-left:25px;
  width:60px;
  height:60px;
  font-size: 16px;
  line-height: 20px;
  color:#000000;
  vertical-align: middle;
  background-color:#F0F0F0;
  border: none;
  box-sizing: border-box;
}

.modal-form-submission-button{
  width:200px;
  margin:0;
  padding:0;
  margin-top:44px;
  border:none;
  cursor:pointer;
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
about-us-contacts*/

.about-us-contacts{
  width:1160px;
  margin:0 auto;
  padding:0;
  padding-bottom:87px;
  display: flex;
  align-items: right;
}

.about-us-contacts-button{
  width:260px;
  margin:0;
  padding:0;
  margin-top:auto;
  cursor:pointer;
}

.about-us{
  width:560px;
  margin:0;
  padding-left:0;
  padding-top:49px;
  padding-right:0;
  background-image: url("../img/divider.svg");
  background-repeat: no-repeat;
  display:flex;
  flex-direction: column;
}

.subtitle-h2{
  width:560px;
  margin:0;
  padding-bottom:46px;
  color: #000000;
  font-family:"Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  text-align: left;
  font-style: normal;
}

.about-us-txt{
  margin:0;
  width:497px;
  padding-bottom:30px;
}

.about-us-3pl{
  width:497px;
  margin:0;
  padding:0;
  padding-top:45px;
  padding-bottom: 52px;
  list-style:none;
  color:#000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.about-us-3pl-company::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #FFC700; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 2em; /* Also needed for space (tweak if needed) */
  margin-left: 0 em; /* Also needed for space (tweak if needed) */
  margin:0;
  padding:0;
  padding-bottom:20px;
}

.contacts{
  width:560px;
  margin:0;
  padding-left:40px;
  padding-right:0;
  padding-top:49px;
  background-image: url("../img/divider.svg");
  background-position: 40px 0px;
  background-repeat: no-repeat;
  display:flex;
  flex-direction: column;
}

.contacts-txt{
  width:513px;
  margin:0;
  padding:0;
  padding-bottom:30px;
}

.contacts-address-subtitle{
  width:358px;
  margin:0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}


.contacts-address-txt{
  width:515px;
  margin:0;
  padding:0;
  padding-top:15px;
  line-height: 30px;
  color: #444444;
  font-style: normal;
}

.contacts-phone {
  display:block;
  width:513px;
  margin:0;
  padding:0;
  padding-bottom:30px;
  color: #444444;
  font-style: normal;
}

.contacts-schedule-subtitle{
  width:175px;
  margin:0;
  padding:0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-schedule{
  width:204px;
  margin:0;
  padding:0;
  padding-top:15px;
  padding-bottom:67px;
  list-style: none;
}

.contacts-schedule-item{
  margin:0;
  padding:0;
}

.mailing{
  width:100%;
  margin:0 auto;
  background-color:#F0F0F0;
}

.mailing-container{
  width:1160px;
  margin:0 auto;
  padding:0;
  padding-top:75px;
  display:flex;
  flex-wrap: wrap;
  align-items: right;
}

.mailing-subtitle-h2{
  width:560px;
  margin:0;
  padding:0;
  color: #000000;
  font-family:"Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  text-align: left;
  font-style: normal;
}

.mailing-description{
  width:560px;
  margin:0;
  padding:0;
  padding-left:40px;
}

.mailing-submission{
  width:600px;
  margin:0;
  margin-bottom:134px;
  padding-left:0;
  padding-right:0;
  padding-top:53px;
  padding-bottom:9px;
  border-bottom: 3px solid rgb(0, 0, 0, 0.1);
}

.mailing-submission-email{
  width:560px;
  margin:0;
  padding:0;
  font-size: 18px;
  line-height: 30px;
  opacity: 50%;
  background-color:#F0F0F0;
  border: 0px solid rgb(0, 0, 0, 0);
}

.mailing-submission-button{
  width:260px;
  height:55px;
  margin:0;
  margin-top:40px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-style: none;
  border: 3px solid rgb(0, 0, 0, 0.1);
  cursor:pointer;
}

.mailing-for-free{
  width:164px;
  margin:0;
  padding:0;
  padding-left:136px;
  padding-top:53px;
  text-align: right;
  background:url("../img/tick-big1.svg");
  background-position: 136px 61px;
  background-size: 14px;
  background-repeat: no-repeat;
}




/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* Catalog */


.main-inner {
  margin:0;
  padding:0;
  color: #000000;
  background-color: #FFFFFF;
  font-family:"Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
}

.inner-header{
  width:1160px;
  margin:0 auto;
  padding:0;
  box-shadow: inset 0 38px #FFE17F;

  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.inner-header-title{
  width:1100px;
  font-family:"Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin:0;
  padding:0;
  padding-top:75px;
  padding-left:60px;
  padding-bottom:10px;
}

.breadcrumbs{
  width:1100px;
  margin:0;
  padding:0;
  padding-top:14px;
  padding-left:60px;
  padding-bottom:49px;

  list-style: none;
  display:flex;
  flex-wrap: wrap;
}

.breadcrumbs-item{
  margin:0;
  padding:0;
  padding-right:17px;
}

.breadcrumbs-item-arrow::before{
  content: "";
  margin:0;
  padding-left:0px;
  padding-right:15px;
  background:url("../img/Vector.svg");
  background-position: 0 50%;
  background-size: 4px 7px;
  background-repeat: no-repeat;
  opacity: 20%;
}

.breadcrumbs-link{
  margin:0;
  padding:0;
  color: #000000;
  opacity: 60%;
  text-decoration: none;
  text-align:left;
}



.catalog{
  margin:0;
  padding:0;
  background-color:#FFFFFF;
  display:flex;
}

.catalog-left-side-background{

  margin:0;
  padding:0;
  background-color: #E5E5E5;
  box-shadow:inset 0px 70px  #DCDCDC;
  flex-grow: 1;
}

.catalog-right-side-background{
  margin:0;
  padding:0;
  background-color:#ffffff;
  box-shadow:inset 0px 70px  #EBEBEB;
  flex-grow: 1;
}


.catalog-filter{

  width:328px;
  margin:0;
  padding:0;
  background-color: #E5E5E5;
  display:flex;
  flex-direction: column;
  box-shadow: inset 0px 70px #DCDCDC;

}

.catalog-filter-subtitle{
  display:block;
  margin:0;
  padding:0;
  padding-left:60px;
  padding-top: 26px;
  padding-bottom: 25px;
  font-family:"Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}

.catalog-filter-form{
  width:200px;
  margin:0;
  margin-left:60px;
  padding:0;
  padding-top:71px;
}

.catalog-filter-group{
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  border:none;
  border-top: 2px solid #000000;


}

.catalog-filter-subtitle-h3{
  display:block;
  margin:0;
  padding-top:12px;
  padding-bottom:14px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;

}

.range{
  margin:0;
  padding:0;
  padding-top:25px;
  display:flex;
  flex-wrap: wrap;

}

.range-scale{
  position:relative;
  width:200px;
  height:2px;
  margin:0;
  margin-bottom:15px;
  padding:0;
  background-color:#DCDCDC;
}

.range-bar{
  position:absolute;
  z-index: 1;
  height:2px;
  background-color:#000000;
}


.range-toggle{
  width:18px;
  height:18px;
  padding:0;
  position:absolute;
  top:-8px;
  background: #EBEBEB;
  border:2px solid #000000;
  border-radius: 100%;
  z-index: 2;
  cursor:pointer;
}

.range-toggle:active{
  background-color: #000000;
}

.range-toggle:focus{
  border:2px solid #AF4FFF;
}

.toggle-min{
  left:-9px;
}

.toggle-max{
  right:-9px;
}


.range-wrapper-inputs{
  width:200px;
  margin:0;

  padding:0;
  padding-bottom:36px;
  display:flex;
}



.catalog-filter-label {
  display: flex;
  margin:0;
  padding:0;
  font-size: 15px;
  line-height: 18px;
}

.range-input {
  width:70px;
  margin:0;
  padding:0;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/******************Control****************************/


.control{
  position: relative;
  display: block;
  padding-left: 37px;
}


.control-mark{
  position: absolute;
  top: 0px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark::before{
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color:transparent;
  content: "";
  background-image: url("../img/tick1.svg");
  background-repeat: no-repeat;
  background-position: center;
}


.control-input:checked ~ .control-mark {
  border: 2px solid #000000;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 100%;
}

.check-mark {
  position: absolute;
  top: 5px;
  left: 5px;
  display: none;
  fill: #000000;
}

.control-input[type="checkbox"]:checked + .check-mark {
  display: block;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  display: block;
  width: 8px;
  height: 8px;
  content: "";
  background-color:#000000;
  border-radius: 100%;
}


.catalog-filter-item-label:hover .control-input:checked ~ .control-label,
.catalog-filter-item-label:hover .control-input:checked ~ .control-mark,
.catalog-filter-item-label:hover .control-input[type="checkbox"]:checked + .check-mark {
  opacity: 0.5;
}

.catalog-filter-item-label:hover .control-input:checked:focus ~ .control-label,
.catalog-filter-item-label:hover .control-input:checked:focus ~ .control-mark,
.catalog-filter-item-label:hover .control-input[type="checkbox"]:checked:focus + .check-mark {
  opacity: 1;
}

.control-input:focus ~ .control-label{
  color: #AF4FFF;
  opacity: 1;
}

.control-input:focus ~ .control-mark {
  border: 2px solid #AF4FFF;
  opacity: 1;
}

.control-input[type="radio"]:focus + .control-mark::before {
  background-color: #AF4FFF;
  opacity: 1;
}

.control-input[type="checkbox"]:focus + .check-mark {
  fill: #AF4FFF;
  opacity: 1;
}

.catalog-filter-item-label:active .control-input:checked ~ .control-label,
.catalog-filter-item-label:active .control-label,
.catalog-filter-item-label:active .control-input:checked ~ .control-mark,
.catalog-filter-item-label:active .control-input[type="checkbox"]:checked + .check-mark {
  opacity: 20%;
}

.control-input[type="checkbox"]:active + .check-mark {
  fill: #000000;
  opacity: 20%;
}

.control-input:active ~ .control-label,
.control-input:active ~ .control-mark {
  opacity: 20%;
}


/*******************************************/

.catalog-filter-list{
  margin:0;
  padding:0;
  padding-top:14px;
  list-style: none;
}

.catalog-filter-item{
  margin:0;
  padding:0;
  padding-bottom:21px;
}


.catalog-filter-label{
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  opacity: 30%;
}

.catalog-filter-button{
  width:200px;
  margin:0px;
  cursor:pointer;
}


.catalog-products{
  width:760px;
  margin:0;
  padding:0;
  padding-left:72px;
  display:flex;
  flex-direction: column;
  box-shadow: inset 0px 70px  #EBEBEB;
}

.catalog-sorting{
  margin:0;
  padding:0;
  display:flex;
  flex-wrap:wrap;
}

.catalog-sorting-subtitle{
  width:200px;
  margin:0;
  padding:0;
  padding-top:26px;
  padding-bottom:25px;
  font-family:"Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}


.sorting-type{
  width:519px;
  margin:0;
  padding:0;
  padding-top:24px;
}

.select-control{
  width:189px;
  margin:0;
  padding:0;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  background: none;
  border: none;
}

.sorting-sorting-type-ascending{
  width:11px;
  padding:0;
  margin:0;
  margin-right:19px;
  min-height:10px;
  display:block;
  align-self: center;
  border:none;
  background-color: #EBEBEB;
  background-image: url("../img/sort-up.svg");
  background-repeat: no-repeat;
  background-size: 11px 10px;
}

.sorting-sorting-type-descending{
  width:11px;
  min-height:10px;
  padding:0;
  margin:0;
  display:block;
  align-self: center;
  border:none;
  background-color: #EBEBEB;
  background-image: url("../img/sort-down.svg");
  background-repeat: no-repeat;
  background-size: 11px 10px;
}

.product-list{
  margin:0;
  padding:0;
  padding-top:69px;
  padding-bottom:44px;
  list-style: none;
  display:grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
}

.product-card{
  margin:0;
  padding:0;
  display:flex;
  flex-wrap: wrap;
}


.product-card-link-img{
  width:360px;
  height:380px;
  margin:0;
  padding:0;
  padding-bottom:32px;
}

.product-card-link-txt{
  width:280px;
  min-height:50px;
  margin:0;
  padding:0;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-decoration: none;
  word-wrap: break-word;
}

.product-card-price{
  width:80px;
  margin:0;
  padding:0;
  color:#444444;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}



.product-card-new{
  color:rgba(0, 0, 0, 0.6);
  font-family:"Raleway", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 800;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}



.product-card-show-more{
  width:760px;
  min-height:55px;
  margin:0;
  padding:0;
  margin-bottom:51px;
    border: 3px solid rgb(0, 0, 0, 0.1);
  background-color:#ffffff;
  font-family:"Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.product-catalog-pagination-list{
  width:760px;
  min-height:70px;
  margin:0;
  padding:0;
  list-style: none;
  background-color: #EBEBEB;
  display:flex;
  flex-wrap: wrap;
}

.product-catalog-pagination{
  width:20px;
  min-height:70px;
  margin:0;
  margin-right:17px;
  padding:auto;
  display:flex;
}

.pagination-prev{
  width:109px;
  margin-right:202px;
}

.pagination-next{
  width:116px;
  margin:0;
  margin-left:148px;
}

.product-catalog-pagination-link-prev{
  display:flex;
  width:109px;
  min-height:70px;
  margin:0;
  padding:0;
  padding-left:29px;
  color: #000000;
  font-family:"Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-align: left;
  font-style: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}


.product-catalog-pagination-link-next{
  width:116px;
  min-height:70px;
  margin:0;
  padding-top:auto;
  padding-bottom:auto;
  display:flex;
  color: #000000;
  font-family:"Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-align: right;
  font-style: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link-txt{
  align-self: center;
  margin:0;
  padding:0;
}

.pagination-link{
  width:20px;
  display:block;
  padding-top:26px;
  padding-bottom:25px;
  color: #444444;
  text-align: center;
  opacity: 30%;
  text-decoration: none;
}



/*------------------footer------------------------------*/

.footer {
  width:100%;
  background-color:#444444;
  color: #FFFFFF;
  margin:0;
  padding-top:62px;
  padding-bottom:61px;
}

.footer-container{
  width: 1160px;
  min-height: 198px;
  margin:0 auto;
  padding:0;
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: left;
  flex-flow: wrap;
  background-image: url("../img/divider-yellow.svg");
  background-position: 0px 175px;
  background-repeat: no-repeat;
}

.footer-logo{
  width:1160px;
  height:36px;
  margin:0;
  padding:0;
  padding-bottom:35px;
}

.footer-navigation-list{
  width:458px;
  margin:0;
  margin-left:114px;
  padding:0;
  list-style: none;
  display:flex;
  flex-wrap:wrap;
}


.footer-navigation-link{
  display: block;
  width:152px;
  margin:0;
  padding:0;
  color: #FFFFFF;
  font-family:"Raleway", sans-serif;;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.footer-contacts-address{
  width:239px;
  margin:0;
  padding:0;
}

.footer-contacts-address-txt{
  width:239px;
  margin:0;
  padding:0;
  font-family:"Rubik",sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-align: left;
  vertical-align: bottom;
  font-style: normal;
}

.footer-contacts-address-phone{
  width:349px;
  margin:0;
  padding:0;
  display:flex;
  flex-wrap:wrap;
  align-items: top;
}

.footer-contacts-phone{
  width:349px;
  align-self: top;
  margin:0;
  padding:0;
  color: #FFFFFF;
  font-family:"Rubik",sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
  vertical-align: top;
}

.footer-social{
  width:540px;
  padding:0;
  padding-left:505px;
  padding-right:0;
  padding-top:49px;
}

.footer-social-list{
  width: 150px;

  margin:0;
  padding:0;
  padding-left:0;
  list-style: none;
  background-repeat: no-repeat;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
}

.footer-social-item{
  width: 40px;
  height: 40px;
  background-color:#FFFFFF;
  border-radius: 50%;
  opacity: 30%;
  background-repeat: no-repeat;
}

.footer-social-link{
  display:flex;
  flex-wrap:wrap;
  height: 100%;
}

.facebook{
  background-image: url("../img/facebook-1.svg");
  background-size:9px 18px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.instagram{
  background-image: url("../img/instagram-1.svg");
  background-size:16px 16px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.twitter{
  background-image: url("../img/twitter-1.svg");
  background-size:15px 14px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.logo-html-academy{
  margin:0;
  padding:0;
  padding-top:47px;
  align-self:flex-start;

}

