@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}


html{
  height:100%;

}

body {
  margin:0;
  display:flex;
  flex-direction:column;
  min-height: 100%;
  font-family:"Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  text-align: left;
  background-color: #FFFFFF;
}



.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Pages */


.navigation{
  width:1160px;
  height:300px;
  color: #000000;
  background-color:#FFE17F;
  margin-top:40px;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  padding:0;
  flex-direction:column;
}

.logo{
  width:145px;
  height:36px;
  display:block;
  margin-left:61px;
  margin-top:-23px;
  padding-top:0px;
}

.user-menu{
  width:1160px;
  display: flex;
  flex-direction:row;
  color: #000000;
  background:  #FFE17F;
  margin-top:36px;
}


.search{
  width:516px;
  height:20px;
  display: flex;
  border: 0px solid rgba(0, 0, 0, 0);
  margin-left:60px;
}

.search-button{
  height:16px;
  width:16px;
  margin-left:0px;
  margin-top:auto;
  margin-bottom:auto;
  background-image: url("../img/search.svg");
  background-position: 50% 50%;
  background-size: 16px;
  background-repeat: no-repeat;
  background-color: #FFE17F;
  border: 0px solid rgba(0, 0, 0, 0);
}

.search-input{
  width:480px;
  margin-left:20px;
  margin-top:auto;
  margin-bottom:auto;
  height:20px;
  font-size: 16px;
  line-height: 19px;
  opacity: 30%;
  background-color: #FFE17F;
  border: 0px solid rgba(0, 0, 0, 0);
}

.user-menu-link-in{
  width:220px;
  height:21px;
  text-decoration: none;
  margin-left:24px;
  background:url("../img/user.svg");
  background-position: 0% 30%;
  background-size: 12px 13px;
  background-repeat: no-repeat;
  padding-left:24px;
  padding-right:0px;
  margin-right:0;
}

.user-menu-link-compare{
  width:100px;
  height:21px;
  text-decoration: none;
  margin-left:15px;
  margin-right:0;
  background:url("../img/compare.svg");
  background-position: 0% 30%;
  background-size: 12px 10px;
  background-repeat: no-repeat;
  padding-left:20px;
}

.user-menu-link-basket{
  width:100px;
  height:21px;
  text-decoration: none;
  margin-left:29px;
  background:url("../img/cart.svg");
  background-position: 0% 20%;
  background-size: 16px 14px;
  background-repeat: no-repeat;
  padding-left:26px;
}

.user-menu-link-quantity{
  display:flex;
  width: 21px;
  height: 21px;
  margin-left:993px;
  margin-top:-21px;
  margin-bottom:0;
  background-color:#ffffff;
  border-radius: 50%;
  background-repeat: no-repeat;
  text-decoration:none;
}

.user-menu-quantity{
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  margin:auto;
  text-decoration:none;
 }

 .user-menu-link-txt{
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  vertical-align: 50%;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.main-menu{
  width:1160px;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left:0px;
  margin-top:29px;
  padding:0px;
}

.main-menu-item-catalog{
  width:236px;
  margin-left:60px;
  margin-top:15px;
  list-style-type:none;
  padding-top: 0;
}

.main-menu-link {
  width:236px;
  color: #000000;
  font-family:"Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: auto;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  vertical-align: top;
}

.main-menu-item-catalog-button-circle{
  margin-left: 7px;
  width:50px;
  height:50px;
  background:url("../img/plus1.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0, 0.2);
}

.main-menu-item-delivery{
  width:140px;
  margin-left:247px;
  margin-top:15px;
  text-align: left;
}

.main-menu-item-waranty{
  width:140px;
  margin-left:19px;
  margin-top:15px;
  text-align: left;
}

.main-menu-item-contacts{
  width:140px;
  margin-left:62px;
  margin-right:59px;
  margin-top:15px;
  text-align: right;
  padding:0px;
}

.main-menu-categories{
  width:236px;
  margin:0px;
  padding:0px;
  list-style: none;
  display:flex;
  flex-direction: column;
}

.main-menu-categories-item{
  width:236px;
  height:18px;
  list-style: none;
  margin:0px;
  padding:0px;
}

.main-menu-categories-link {
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

/*************___MAIN___*************************/

.main-container{
  flex-grow:1;
}

.page-container{
  width:1160px;
  margin:0 auto;
}

.promo{
width:1160px;
margin-top:-150px;
margin-left:auto;
margin-right:auto;
display:flex;
flex-direction: column;
}

.promo-list{
  width:1160;
  margin:0;
  padding:0;
}

.promo-list-item-1{
  width:1160px;
  display:flex;
  flex-direction: row;
  margin:0 auto;
}

.promo-button-prev {
  height:60px;
  width:20px;
  margin-top:250px;
  margin-left:19px;
  background-image: url("../img/left-tall-arrow-4.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  border:none;
  background-color: rgb(0, 0, 0, 0);
}

.promo-button-next {
  height:60px;
  width:20px;
  margin-top:250px;
  margin-left:-39px;
  background-image: url("../img/right-tall-arrow-4.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  border:none;
  background-color: rgb(0, 0, 0, 0);
}

.promo-list-item-image-link{
  width:560px;
  height:560px;
  margin-left:-39px;
}

.promo-list-item-container{
  width:560px;
  height:560px;
  margin-left:60px;
  display:flex;
  flex-direction: column;
  margin-bottom:0;
  margin-top:0px;
  padding:0px;
}
.promo-list-item-number{
  display:flex;
  width:250px;
  height:135px;
  margin-top:31px;
  margin-left:auto;
  margin-right:20px;
  padding-left:auto;
  padding-right:auto;
  color: #978035;
  font-family:"Rubik", sans-serif;
  font-size: 180px;
  line-height: 135px;
  font-weight: 800;
  text-align:right;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
}

.promo-list-item-tagline {
  display:flex;
  width:560px;
  height:110px;
  margin-top:-43px;
  margin-bottom:0px;
  color:#000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
}

.promo-list-item-description{
  display:flex;
  width:560px;
  height:80px;
  margin-top:19px;
  margin-bottom:0px;
}

.promo-pagination{
  width:560px;
  margin-top:30px;
  display:flex;
  flex-direction: row;
}

.promo-list-item-button{
  width:220px;
  height:21px;
  margin-bottom:0px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  background-size: 8px 220px;
  background-repeat: no-repeat;
  background-color: #FFE17F;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.promo-pagination-button-1{
  width:12px;
  height:12px;
  margin-left:200px;
  margin-top:auto;
  margin-bottom:auto;
  padding:0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0, 1);
  background-color: #ffffff;
}

.promo-pagination-button-2{
  width:12px;
  height:12px;
  margin-left:22px;
  margin-top:auto;
  margin-bottom:auto;
  padding:0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0, 1);
  background-color: #ffffff;
}

.promo-pagination-button-3{
  width:12px;
  height:12px;
  margin-left:22px;
  margin-top:auto;
  margin-bottom:auto;
  padding:0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0, 1);
  background-color: #ffffff;
}

.promo-pagination-button-current{
  background-color: #000000;
}

.promo-list-table{
  width:160;
  margin-top:70px;
  margin-bottom:0px;
  padding:0;
}

td.td-promo{
  margin-top:70px;
  width:160px;
  height:41px;
  padding:0;
  vertical-align: top;
}

.promo-list-item-table-values{
  color:#000000;
  font-size: 36px;
  line-height: 30px;
  vertical-align: top;
}

.promo-list-item-table-parameters{
  color:#444444;
  font-size: 16px;
  line-height: 30px;
  vertical-align: top;
}

.promo-list-item-2{
  width:1160px;
  display:flex;
  flex-direction: row;
  margin:0 auto;
}

.promo-list-item-3{
  width:1160px;
  display:flex;
  flex-direction: row;
  margin:0 auto;
}

/*
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
*/

.categories-list{
  width: 1160px;
  height: 253px;
  background-repeat: no-repeat;
  display: flex;
  list-style: none;
  margin-left:0px;
  margin-top:70px;
  padding-left: 0px;
}

.categories-item{
  width: 160px;
  height: 253px;
  margin-right:40px;
}

.categories-link::before{
  display: block;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background:#FFE17F;
  content:"";
  margin-bottom: 33px;
}

.categories-link{
  text-decoration: none;
  width: 160px;
  height: 253px;
  padding-top: 193px;
  background-repeat: no-repeat;
}

.categories-title{
  width: 160px;
  color:#000000;
  font-family:"Raleway",sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: left;
  font-style: normal;
  letter-spacing: -0.02em;
}


.cat-img-1::before{
  background-image: url("../img/virtual-reality.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.cat-img-2::before{
  background-image: url("../img/monopod.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.cat-img-3::before{
  background-image: url("../img/action-camera.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.cat-img-4::before{
  background-image: url("../img/fitness-bracelet.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.cat-img-5::before{
  background-image: url("../img/smart-watch.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.cat-img-6::before{
  background-image: url("../img/copter.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SERVICES*/

.services-list-item-description{
  height: 288px;
  width: 1440px;
  margin-top: 169px;
  margin-bottom: 90px;
}
.delivery-img{
  background-color: #F0F0F0;
  background-image:url("../img/delivery-man.svg");
  background-size: 164px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

.warranty-img{
background-color: #F0F0F0;
background-image:url("../img/warranty-1.svg");
background-size: 164px;
background-repeat: no-repeat;
background-position-x: center;
background-position-y: top;
}

.credit-img{
background-color: #F0F0F0;
background-image:url("../img/credit-1.svg");
background-size: 164px;
background-repeat: no-repeat;
background-position-x: center;
background-position-y: top;
}

.services-list-item-name{
  color: #000000;
  font-family:"Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  text-align: left;
  font-style: normal;
}

.services-delivery-link-txt {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height:23px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.subtitle-h2{
  color: #000000;
  font-family:"Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  text-align: left;
  font-style: normal;
}

.services-delivery{
  background-color: #F0F0F0;
  background-image:url("../img/delivery-1.svg");
  background-size: 47px;
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;

}


.contacts-address-subtitle{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-schedule-subtitle{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.about-us-3pl{
  color:#000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.contacts-address {
  color: #444444;
  font-style: normal;
}
.contacts-phone {
  color: #444444;
  font-style: normal;
}

.mailing{
  background-color: #F0F0F0;
}

.mailing-submission-email{
  font-size: 18px;
  line-height: 30px;
  opacity: 50%;
}

.mailing-submission-button{
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* Catalog */

.main-inner {
  color: #000000;
  background-color: #FFFFFF;
  font-family:"Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
}

.inner-header-title{
  font-family:"Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.breadcrumbs-link{
  color: #000000;
  opacity: 60%;
  text-decoration: none;
}

.catalog-filter{
    background-color: #EBEBEB;
}

.catalog-filter-subtitle{
  font-family:"Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #DCDCDC;
}

.catalog-sorting{
  background-color: #EBEBEB
}


.catalog-filter-subtitle-h3{
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.catalog-filter-label{
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  opacity: 30%;
}

.catalog-sorting-subtitle{
  font-family:"Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #EBEBEB
}

.select-control{
  color: #000000;
  font-size: 16px;
  line-height: 19px;
}

.product-card-link{
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.product-card-new{
  color:rgba(0, 0, 0, 0.6);
  font-family:"Raleway", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 800;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.product-card-price{
  color:#444444;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.product-card-show-more{
  font-family:"Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.product-catalog-pagination{
  background-color: #EBEBEB;
}

.product-catalog-pagination-link-prev{
  color: #000000;
  font-family:"Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-align: left;
  font-style: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.product-catalog-pagination-link-next{
  color: #000000;
  font-family:"Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-align: right;
  font-style: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link{
  color: #444444;
  text-align: center;
  opacity: 30%;
  text-decoration: none;
}

/* footer */

.footer {
  background-color:#444444;
  color: #FFFFFF;
}

.footer-navigation-link{
  color: #FFFFFF;
  font-family:"Raleway", sans-serif;;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.footer-contacts-address{
  font-family:"Rubik",sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-align: left;
  font-style: normal;
}

.footer-contacts-address-phone{
  color: #FFFFFF;
  font-family:"Rubik",sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-align: right;
}


.footer-social-list{
  width: 150px;
  height: 40px;
  list-style: none;
  background-repeat: no-repeat;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
}

.footer-social-item{
  width: 40px;
  height: 40px;
  background-color:#FFFFFF;
  border-radius: 50%;
  opacity: 30%;
  background-repeat: no-repeat;
}

.footer-social-link{
  display:flex;
  height: 100%;
}

.facebook{
  background-image: url("../img/facebook-1.svg");
  background-size:9px 18px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.instagram{
  background-image: url("../img/instagram-1.svg");
  background-size:16px 16px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.twitter{
  background-image: url("../img/twitter-1.svg");
  background-size:15px 14px;
  background-position: 50%;
  background-repeat: no-repeat;
}


