@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}


html{
  height:100%;
}

body {
  min-height:100%;
  min-width:1190px;
  margin:0;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  font-family:"Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  text-align: left;
  background-color: #FFFFFF;
}



.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  vertical-align: top;
}

.button-current{
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #FFE17F;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  vertical-align: top;
}

.button-orange{
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  background-color:#FFC700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  vertical-align: top;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Pages */

.header{
  width:1160px;
  min-height:190px;
  padding:0;
  margin:0 auto;
}

.navigation{
  height:150px;
  color: #000000;
  background-color:#FFE17F;
  margin-top:40px;
  display: flex;
  flex-direction:column;
}

.logo{
  width:145px;
  height:36px;
  margin-left:61px;
  margin-top:0px;
  padding-top:0px;
  position:relative;
  top:-23px;
}

.user-menu{
  display: flex;
  flex-direction:row;
  color: #000000;
  background:  #FFE17F;
  margin-top:13px;
}


.search{
  width:516px;
  height:20px;
  display: flex;
  border: 0px solid rgba(0, 0, 0, 0);
  margin-left:60px;
}

.search-button{
  height:16px;
  width:16px;
  margin-left:0px;
  margin-top:auto;
  margin-bottom:auto;
  background-image: url("../img/search.svg");
  background-position: 50% 50%;
  background-size: 16px;
  background-repeat: no-repeat;
  background-color: #FFE17F;
  border: 0px solid rgba(0, 0, 0, 0);
}

.search-input{
  width:480px;
  margin-left:20px;
  margin-top:auto;
  margin-bottom:auto;
  font-size: 16px;
  line-height: 19px;
  opacity: 30%;
  background-color: #FFE17F;
  border: 0px solid rgba(0, 0, 0, 0);
}

.user-menu-link-in{
  width:220px;
  height:21px;
  text-decoration: none;
  margin-left:24px;
  background:url("../img/user.svg");
  background-position: 0% 30%;
  background-size: 12px 13px;
  background-repeat: no-repeat;
  padding-left:24px;
  padding-right:0px;
  margin-right:0;
}

.user-menu-link-compare{
  width:100px;
  height:21px;
  text-decoration: none;
  margin-left:15px;
  margin-right:0;
  background:url("../img/compare.svg");
  background-position: 0% 30%;
  background-size: 12px 10px;
  background-repeat: no-repeat;
  padding-left:20px;
}

.user-menu-link-basket{
  width:100px;
  height:21px;
  text-decoration: none;
  margin-left:29px;
  background:url("../img/cart.svg");
  background-position: 0% 20%;
  background-size: 16px 14px;
  background-repeat: no-repeat;
  padding-left:26px;
}

.user-menu-link-quantity{
  display:flex;
  flex-wrap:wrap;
  width: 21px;
  height: 21px;
  margin-left:993px;
  margin-top:-21px;
  margin-bottom:0;
  background-color:#ffffff;
  border-radius: 50%;
  background-repeat: no-repeat;
  text-decoration:none;
}

.user-menu-quantity{
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  margin:auto;
  text-decoration:none;
 }

 .user-menu-link-txt{
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  vertical-align: 50%;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.main-menu{
  display: flex;
  list-style: none;
  margin-left:0px;
  margin-top:29px;
  padding:0px;
}

.main-menu-item-catalog{
  width:236px;
  margin-left:60px;
  margin-top:15px;
  list-style-type:none;
  padding-top: 0;
}

.main-menu-link {
  width:236px;
  color: #000000;
  font-family:"Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: auto;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  vertical-align: top;
}

.main-menu-item-catalog-button-circle{
  margin-left: 7px;
  width:50px;
  height:50px;
  background:url("../img/plus1.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0, 0.2);
}

.main-menu-item-delivery{
  width:140px;
  margin-left:247px;
  margin-top:15px;
  text-align: left;
}

.main-menu-item-waranty{
  width:140px;
  margin-left:19px;
  margin-top:15px;
  text-align: left;
}

.main-menu-item-contacts{
  width:140px;
  margin-left:62px;
  margin-right:59px;
  margin-top:15px;
  text-align: right;
  padding:0px;
}

.main-menu-categories{
  width:236px;
  margin:0px;
  padding:0px;
  list-style: none;
  display:none;
  flex-direction: column;
}

.main-menu-categories-item{
  width:236px;
  list-style: none;
  margin:0px;
  padding:0px;
}

.main-menu-categories-link {
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

/*************___MAIN___*************************/

.main-index{
  flex-grow:1;
}

/*
.page-container{
  width:1160px;
  margin:0 auto;
}
*/

.promo{
width:1160px;
margin:0 auto;
display:flex;
flex-wrap:wrap;
flex-direction: column;
}

.promo-list{
  margin:0;
  padding:0;
  box-shadow: inset 0 150px #FFE17F;
}

.promo-list-item-1{
  display:flex;
}

.promo-button-prev {
  height:60px;
  width:20px;
  margin-top:250px;
  margin-left:19px;
  background-image: url("../img/left-tall-arrow-4.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  border:none;
  background-color: rgb(0, 0, 0, 0);
}

.promo-button-next {
  height:60px;
  width:20px;
  margin-top:250px;
  margin-left:-39px;
  background-image: url("../img/right-tall-arrow-4.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  border:none;
  background-color: rgb(0, 0, 0, 0);
}

.promo-list-item-image-link{
  width:560px;
  height:560px;
  margin-left:-39px;
  outline: 1px solid #b46e6e;
}

.promo-list-item-container{
  width:560px;
  margin-left:60px;
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  margin-bottom:0;
  margin-top:0px;
  padding:0px;
}
.promo-list-item-number{
  width:250px;
  margin-left:auto;
  margin-right:49px;
  padding-left:auto;
  padding-top:31px;
  color:#ffffff;
  font-family:"Rubik", sans-serif;
  font-size: 180px;
  line-height: 135px;
  font-weight: 800;
  text-align:right;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  outline: 1px solid #b46e6e;
}

.promo-list-item-tagline {
  margin:0 auto;
  color:#000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  outline: 1px solid #b46e6e;
}

.promo-list-item-description{
  margin:0 auto;
  padding-top:19px;
  outline: 1px solid #b46e6e;
}

.promo-pagination{
  margin-left:0;
  margin-top:0;
  padding-top:30px;
  display:flex;
  flex-wrap:wrap;
  outline: 1px solid #b46e6e;
}

.promo-list-item-button{
  width:220px;
  height:21px;
  margin-bottom:0px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  background-size: 8px 220px;
  background-repeat: no-repeat;
  background-color: #FFE17F;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  outline: 1px solid #b46e6e;
}

.promo-pagination-button-1{
  width:12px;
  height:12px;
  margin-left:200px;
  margin-top:auto;
  margin-bottom:auto;
  padding:0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0, 1);
  background-color: #ffffff;
}

.promo-pagination-button-2{
  width:12px;
  height:12px;
  margin-left:22px;
  margin-top:auto;
  margin-bottom:auto;
  padding:0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0, 1);
  background-color: #ffffff;
}

.promo-pagination-button-3{
  width:12px;
  height:12px;
  margin-left:22px;
  margin-top:auto;
  margin-bottom:auto;
  padding:0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0, 1);
  background-color: #ffffff;
}

.promo-pagination-button-current{
  background-color: #000000;
}

.promo-list-table{
  width:160;
  margin-left:0;
  margin-top:0;
  margin-bottom:0;
  padding-top:70px;
  outline: 1px solid #b46e6e;
}

td.td-promo{
  width:160px;
  height:41px;
  padding:0;
  vertical-align: top;
}

.promo-list-item-table-values{
  color:#000000;
  font-size: 36px;
  line-height: 30px;
  vertical-align: top;
  outline: 1px solid #b46e6e;
}

.promo-list-item-table-parameters{
  color:#444444;
  font-size: 16px;
  line-height: 30px;
  vertical-align: top;
  outline: 1px solid #b46e6e;
}

.promo-list-item-2{
  display:none;
  margin:0 auto;
}

.promo-list-item-3{
  display:none;
  margin:0 auto;
}

/*
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
*/

.categories{
  width:1160px;
  margin:0 auto;
}

.categories-list{
  width: 1160px;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left:0px;
  margin-top:70px;
  padding-left: 0px;
}

.categories-list li:nth-child(6n){
  width: 160px;
  margin-right:0px;
}

.categories-item{
  width: 160px;
  margin-right:40px;
}


.categories-link::before{
  display: block;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background:#FFE17F;
  content:"";
  margin-bottom: 33px;
}

.categories-link{
  text-decoration: none;
  width: 160px;
  height: 253px;
  padding-top: 193px;
  background-repeat: no-repeat;
}

.categories-title{
  width: 160px;
  color:#000000;
  font-family:"Raleway",sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: left;
  font-style: normal;
  letter-spacing: -0.02em;
}


.cat-img-1::before{
  background-image: url("../img/virtual-reality.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.cat-img-2::before{
  background-image: url("../img/monopod.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.cat-img-3::before{
  background-image: url("../img/action-camera.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.cat-img-4::before{
  background-image: url("../img/fitness-bracelet.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.cat-img-5::before{
  background-image: url("../img/smart-watch.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.cat-img-6::before{
  background-image: url("../img/copter.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SERVICES*/

.services{
  width:1160px;
  margin:0 auto;
  padding-top:69px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  outline: 1px solid #b46e6e;
}

.services-group{
  display: flex;
  margin:0;
  background-color:#f0f0f0;
  box-shadow: inset 0 100px #ffffff;
}

ul.services-pagination{
  width:273px;
  min-height:319px;
  margin:0;
  padding:0;
  padding-top:80px;
  border-right: 7px solid rgba(0, 0, 0, 1);
  list-style: none;
  display: flex;
  flex-direction: column;
  outline: 1px solid #6eb485;
}

.services-pagination-item{
  display: flex;
  width:279px;
  min-height:40px;
  margin:0;
  padding-top:auto;
  padding-bottom:auto;
  outline: 1px solid #6eb485;
}

.services-pagination-item-2{
  display: flex;
  width:279px;
  min-height:40px;
  margin-top:24px;
  margin-bottom:25px;
  padding-top:auto;
  padding-bottom:auto;
  outline: 1px solid #6eb485;
}

.services-pagination-item-current{
  background-color:#000000;
  color:#FFE17F;
  border:none;
  outline: 1px solid #6eb485;
}

.services-pagination-link{
  width:160px;
  height:20px;
  margin-top:10px;
  padding-top:auto;
  padding-bottom:auto;
  outline: 1px solid #6eb485;
}

ul.services-list{
  width:760px;
  list-style: none;
  margin:0;
  padding-left:120px;
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  outline: 1px solid #8f6eb4;
}

.services-list-item{
  min-height:319px;
  outline: 1px solid rgb(192, 16, 16);
}


.delivery-img{
  background-image:url("../img/delivery-man.svg");
  background-size: 136px 164px;
  background-repeat: no-repeat;
  background-position: 90%;
}

.warranty-img{
background-image:url("../img/warranty-1.svg");
background-size: 171px 195px;
background-repeat: no-repeat;
background-position: 90%;
}

.credit-img{
background-image:url("../img/credit-1.svg");
background-size: 156px 188px;
background-repeat: no-repeat;
background-position: 90%;
}

.services-list-item-name{
  width:560px;
  margin:0;
  padding-top:70px;
  color: #000000;
  font-family:"Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  text-align: left;
  font-style: normal;
  outline: 1px solid rgba(0, 0, 0, 1);
}

.services-list-item-description{
  width:497px;
  padding-top:34px;
  margin:0;
  outline: 1px solid rgba(0, 0, 0, 1);
  white-space:pre-line;
}

/*************************************

.services-delivery{
  min-height:356px;
  margin:0;
  padding-left:0px;
  padding-top:159px;
  padding-bottom:97px;
  box-shadow: inset 0 69px #F0F0F0;
  outline: 1px solid rgb(41, 211, 202);
  background:#ffffff;
}

.services-delivery-link::before{
  display: flex;
  width: 125px;
  height: 100px;
  background-color:#FFE17F;
  content:"";
  margin: 0;
  outline: 1px solid rgb(223, 112, 22);
}

.delivery-1::before{
  background-image: url("../img/delivery-1.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  content:"";
}


.services-delivery-link{
  display: flex;
  width:1160px;
  min-height:100px;
  outline: 1px solid rgb(41, 211, 202);
  background-color: #F0F0F0;
  text-decoration: none;
  outline: 1px solid rgb(41, 211, 202);
}

.services-delivery-link-txt{
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height:23px;
  font-weight: 800;
  text-align: left;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  outline: 1px solid rgb(41, 211, 92);
}

.services-delivery-button-info{
  width:40px;
  height:40px;
  background-image:url("../img/info.svg");
  background-repeat: no-repeat;
}

*/

.services-delivery{
  margin:0;
  padding-left:0px;
  padding-top:159px;
  padding-bottom:97px;
  box-shadow: inset 0 69px #F0F0F0;
  outline: 1px solid rgb(41, 211, 202);
  background:#ffffff;
  display: flex;
}

.services-delivery-link-1{
  margin: 0;
  min-height: 100px;
  width: 125px;
  background-color:#FFE17F;
  outline: 1px solid rgb(223, 112, 22);
  background-image: url("../img/delivery-1.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.services-delivery-link-2{
  width:932px;
  background-color: #F0F0F0;
  text-decoration: none;
  outline: 1px solid rgb(211, 41, 183);
  display: flex;
  padding-left:0;
  padding-top:37px;
  padding-bottom:40px;
}

.services-delivery-link-txt{
  width:910px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height:23px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  outline: 1px solid rgb(41, 211, 92);
}

.services-delivery-button-info{
  width:103px;
  background-image:url("../img/info.svg");
  background-size:40px 40px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #F0F0F0;
  border:0px;
  outline: 1px solid rgb(192, 95, 16);
}


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
about-us-contacts*/

.about-us-contacts{
  width:1160px;
  margin:0 auto;
  padding:0;
  display: flex;
  align-items: right;
  outline: 1px solid rgb(192, 95, 16);
}

.about-us{
  width:560px;
  margin:0;
  padding-left:0;
  padding-top:49px;
  padding-right:0;
  background-image: url("../img/divider.svg");
  background-repeat: no-repeat;
  outline: 1px solid rgb(192, 95, 16);
}

.subtitle-h2{
  width:560px;
  margin:0;
  color: #000000;
  font-family:"Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  text-align: left;
  font-style: normal;
  outline: 1px solid rgb(192, 95, 16);
}

.about-us-txt{
  margin:0;
  width:497px;
  padding-top:26px;
  outline: 1px solid rgb(192, 95, 16);
}

.about-us-3pl{
  width:497px;
  margin:0;
  padding:0;
  padding-bottom: 52px;
  list-style:none;
  outline: 1px solid rgb(192, 95, 16);
  color:#000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.about-us-3pl-company::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #FFC700; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 2em; /* Also needed for space (tweak if needed) */
  margin-left: 0 em; /* Also needed for space (tweak if needed) */
}

.contacts{
  width:560px;
  margin:0;
  padding-left:40px;
  padding-right:0;
  padding-top:49px;
  background-image: url("../img/divider.svg");
  background-position: 40px 0px;
  background-repeat: no-repeat;
  outline: 1px solid rgb(17, 17, 17);
}

.contacts-txt{
  width:498px;
  margin:0;
  padding-top:26px;
  outline: 1px solid rgb(17, 17, 17);
}

.contacts-address-subtitle{
  width:358px;
  margin:0;
  padding-top:30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  outline: 1px solid rgb(17, 17, 17);
}


.contacts-address-txt{
  width:513px;
  margin:0;
  padding:0;
  padding-top:15px;
  color: #444444;
  font-style: normal;
  outline: 1px solid rgb(17, 17, 17);
}

.contacts-phone {
  width:513px;
  margin:0;
  padding:0;
  color: #444444;
  font-style: normal;
  outline: 1px solid rgb(17, 17, 17);
}

.contacts-schedule-subtitle{
  width:175px;
  margin:0;
  padding:0;
  padding-top:30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  outline: 1px solid rgb(17, 17, 17);
}

.contacts-schedule{
  width:204px;
  margin:0;
  padding:0;
  padding-top:15px;
  padding-bottom:67px;
  list-style: none;
  outline: 1px solid rgb(17, 17, 17);
}

.mailing{
  width:100%;
  margin:0 auto;
  background-color:#F0F0F0;
}

.mailing-container{
  width:1160px;
  margin:0 auto;
  padding:0;
  padding-top:75px;
  display:flex;
  flex-wrap: wrap;
  align-items: right;
}

.mailing-subtitle-h2{
  width:560px;
  margin:0;
  padding:0;
  color: #000000;
  font-family:"Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  text-align: left;
  font-style: normal;
  outline: 1px solid #104dbd;
}

.mailing-description{
  width:560px;
  margin:0;
  padding:0;
  padding-left:40px;
  outline: 1px solid #104dbd;
}

.mailing-submission{
  width:600px;
  margin:0;
  margin-bottom:134px;
  padding-left:0;
  padding-right:0;
  padding-top:53px;
  padding-bottom:9px;
  outline: 1px solid #104dbd;
  border-bottom: 3px solid rgb(0, 0, 0, 0.1);
}

.mailing-submission-email{
  width:560px;
  margin:0;
  padding:0;
  font-size: 18px;
  line-height: 30px;
  opacity: 50%;
  background-color:#F0F0F0;
  border: 0px solid rgb(0, 0, 0, 0);
}

.mailing-submission-button{
  width:260px;
  height:55px;
  margin:0;
  margin-top:40px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-style: none;
  border: 3px solid rgb(0, 0, 0, 0.1);
}

.mailing-for-free{
  width:164px;
  margin:0;
  padding:0;
  padding-left:136px;
  padding-top:53px;
  text-align: right;
  outline: 1px solid #104dbd;
  background:url("../img/tick-big1.svg");
  background-position: 136px 61px;
  background-size: 14px;
  background-repeat: no-repeat;
}




/*XXXXXXXXX  box-shadow: inset 0 150px #FFE17F;  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* Catalog */


.main-inner {
  margin:0;
  padding:0;
  color: #000000;
  background-color: #FFFFFF;
  font-family:"Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  outline: 1px solid #104dbd;
}

.inner-header{
  width:1160px;
  margin:0 auto;
  padding:0;
  box-shadow: inset 0 38px #FFE17F;

  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.inner-header-title{
  width:1100px;
  font-family:"Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin:0;
  padding:0;
  padding-top:75px;
  padding-left:60px;
  padding-bottom:10px;
  outline: 1px solid #104dbd;
}

.breadcrumbs{
  width:1100px;
  margin:0;
  padding:0;
  padding-top:14px;
  padding-left:60px;
  padding-bottom:49px;

  list-style: none;
  display:flex;
  flex-wrap: wrap;
}

.breadcrumbs-item{
  margin:0;
  padding:0;
  padding-right:17px;
  outline: 1px solid #104dbd;
}

.breadcrumbs-item-arrow::before{
  content: "";
  margin:0;
  padding-left:0px;
  padding-right:15px;
  background:url("../img/Vector.svg");
  background-position: 0 50%;
  background-size: 4px 7px;
  background-repeat: no-repeat;
  opacity: 20%;
}

.breadcrumbs-link{
  margin:0;
  padding:0;
  color: #000000;
  opacity: 60%;
  text-decoration: none;
  text-align:left;
  outline: 1px solid #10bd44;
}



.catalog{
  margin:0;
  padding:0;
  background-color:#FFFFFF;
  display:flex;
}

.catalog-left-side-background{

  margin:0;
  padding:0;
  background-color: #E5E5E5;
  box-shadow:inset 0px 70px  #DCDCDC;
  flex-grow: 1;
}

.catalog-right-side-background{
  margin:0;
  padding:0;
  background-color:#ffffff;
  box-shadow:inset 0px 70px  #EBEBEB;
  flex-grow: 1;
}


.catalog-filter{

  width:328px;
  margin:0;
  padding:0;
  background-color: #E5E5E5;
  display:flex;
  flex-direction: column;
  box-shadow: inset 0px 70px #DCDCDC;
  outline: 1px solid #104dbd;
}

.catalog-filter-subtitle{
  display:block;
  margin:0;
  padding:0;
  padding-left:60px;
  padding-top: 26px;
  padding-bottom: 25px;
  font-family:"Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  outline: 1px solid #104dbd;
}

.catalog-filter-subtitle-h3{
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;

}

.catalog-filter-label{
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  opacity: 30%;
}

.catalog-products{
  width:760px;
  margin:0;
  padding:0;
  padding-left:72px;
  display:flex;
  flex-direction: column;
  box-shadow: inset 0px 70px  #EBEBEB;
  outline: 1px solid #bd10a6;
}

.catalog-sorting{
  margin:0;
  padding:0;
  display:flex;
  flex-wrap:wrap;
  outline: 5px solid #1030bd;
}

.catalog-sorting-subtitle{
  width:200px;
  margin:0;
  padding:0;
  padding-top:26px;
  padding-bottom:25px;
  font-family:"Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  outline: 1px solid #10bd44;
}


.sorting-type{
  width:519px;
  margin:0;
  padding:0;
  padding-top:24px;
  outline: 1px solid #259209;
}

.select-control{
  width:189px;
  margin:0;
  padding:0;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  background: none;
  border: none;
  outline: 1px solid #bd10a6;
}

.sorting-sorting-type-ascending{
  width:11px;
  padding:0;
  margin:0;
  margin-right:19px;
  min-height:10px;
  display:block;
  align-self: center;
  border:none;
  background-color: #EBEBEB;
  background-image: url("../img/sort-up.svg");
  background-repeat: no-repeat;
  background-size: 11px 10px;
  outline: 1px solid #bd10a6;
}

.sorting-sorting-type-descending{
  width:11px;
  min-height:10px;
  padding:0;
  margin:0;
  display:block;
  align-self: center;
  border:none;
  background-color: #EBEBEB;
  background-image: url("../img/sort-down.svg");
  background-repeat: no-repeat;
  background-size: 11px 10px;
  outline: 1px solid #bd10a6;
}

.product-list{
  margin:0;
  padding:0;
  padding-top:69px;
  list-style: none;
  outline: 5px solid #bd10a6;
  display:flex;
  flex-wrap: wrap;
}

.product-card{
  width:360px;
  margin:0;
  padding:0;
  padding-bottom:44px;
  outline: 1px solid #bd10a6;
  display:flex;
  flex-wrap: wrap;
}

.product-list li:nth-child(2n){
  padding-left:40px;
  padding-right:0;
}

.product-card-link-img{
  width:360px;
  height:380px;
  margin:0;
  padding:0;
  padding-bottom:32px;
}

.product-card-link-txt{
  width:280px;
  min-height:50px;
  margin:0;
  padding:0;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-decoration: none;
  word-wrap: break-word;
  outline: 1px solid #bd10a6;
}

.product-card-price{
  width:80px;
  margin:0;
  padding:0;
  color:#444444;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  outline: 1px solid #103ebd;
}

.product-card-new{
  color:rgba(0, 0, 0, 0.6);
  font-family:"Raleway", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 800;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}



.product-card-show-more{
  width:760px;
  min-height:55px;
  margin:0;
  padding:0;
  margin-bottom:51px;
    border: 3px solid rgb(0, 0, 0, 0.1);
  background-color:#ffffff;
  font-family:"Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.product-catalog-pagination-list{
  width:760px;
  min-height:70px;
  margin:0;
  padding:0;
  list-style: none;
  background-color: #EBEBEB;
  display:flex;
  flex-wrap: wrap;
}

.product-catalog-pagination{
  width:20px;
  min-height:70px;
  margin:0;
  margin-right:17px;
  padding:auto;
  display:flex;
  outline: 1px solid #103ebd;
}

.pagination-prev{
  width:109px;
  margin-right:202px;
  outline: 1px solid #103ebd;
}

.pagination-next{
  width:116px;
  margin:0;
  margin-left:148px;
  outline: 1px solid #103ebd;
}

.product-catalog-pagination-link-prev{
  display:flex;
  width:109px;
  min-height:70px;
  margin:0;
  padding:0;
  padding-left:29px;
  color: #000000;
  font-family:"Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-align: left;
  font-style: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  outline: 1px solid #103ebd;
}


.product-catalog-pagination-link-next{
  width:116px;
  min-height:70px;
  margin:0;
  padding-top:auto;
  padding-bottom:auto;
  display:flex;
  color: #000000;
  font-family:"Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-align: right;
  font-style: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  outline: 1px solid #103ebd;
}

.pagination-link-txt{
  align-self: center;
  margin:0;
  padding:0;
  outline: 1px solid #103ebd;
}

.pagination-link{
  width:20px;
  display:block;
  padding-top:26px;
  padding-bottom:25px;
  color: #444444;
  text-align: center;
  opacity: 30%;
  text-decoration: none;
  outline: 1px solid #103ebd;
}



/*------------------footer------------------------------*/

.footer {
  width:100%;
  background-color:#444444;
  color: #FFFFFF;
  margin:0;
  padding-top:62px;
  padding-bottom:61px;
}

.footer-container{
  width: 1160px;
  min-height: 198px;
  margin:0 auto;
  padding:0;
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: left;
  flex-flow: wrap;
  background-image: url("../img/divider-yellow.svg");
  background-position: 0px 175px;
  background-repeat: no-repeat;
  outline: 1px solid rgb(16, 192, 39);
}

.footer-logo{
  width:1160px;
  height:36px;
  margin:0;
  padding:0;
  padding-bottom:35px;
  outline: 1px solid rgb(192, 95, 16);
}

.footer-navigation-list{
  width:458px;
  margin:0;
  margin-left:114px;
  padding:0;
  list-style: none;
  display:flex;
  flex-wrap:wrap;
  outline: 1px solid rgb(192, 95, 16);
}

.footer-navigation-item{
  outline: 1px solid rgb(16, 192, 133);
}

.footer-navigation-link{
  display: block;
  width:152px;
  margin:0;
  padding:0;
  color: #FFFFFF;
  font-family:"Raleway", sans-serif;;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  outline: 1px solid rgb(192, 95, 16);
}

.footer-contacts-address{
  width:239px;
  margin:0;
  padding:0;
  outline: 1px solid rgb(43, 39, 36);
}

.footer-contacts-address-txt{
  width:239px;
  margin:0;
  padding:0;
  font-family:"Rubik",sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-align: left;
  vertical-align: bottom;
  font-style: normal;
  outline: 1px solid rgb(202, 96, 14);
}

.footer-contacts-address-phone{
  width:349px;
  margin:0;
  padding:0;
  outline: 1px solid rgb(192, 95, 16);
  display:flex;
  flex-wrap:wrap;
  align-items: top;
}

.footer-contacts-phone{
  width:349px;
  align-self: top;
  margin:0;
  padding:0;
  color: #FFFFFF;
  font-family:"Rubik",sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
  outline: 1px solid rgb(192, 95, 16);
  vertical-align: top;
}

.footer-social{
  width:540px;
  padding:0;
  padding-left:505px;
  padding-right:0;
  outline: 1px solid rgb(51, 192, 16);
  padding-top:49px;
}

.footer-social-list{
  width: 150px;

  margin:0;
  padding:0;
  padding-left:0;
  list-style: none;
  background-repeat: no-repeat;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
  outline: 1px solid rgb(192, 95, 16);
}

.footer-social-item{
  width: 40px;
  height: 40px;
  background-color:#FFFFFF;
  border-radius: 50%;
  opacity: 30%;
  background-repeat: no-repeat;
}

.footer-social-link{
  display:flex;
  flex-wrap:wrap;
  height: 100%;
}

.facebook{
  background-image: url("../img/facebook-1.svg");
  background-size:9px 18px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.instagram{
  background-image: url("../img/instagram-1.svg");
  background-size:16px 16px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.twitter{
  background-image: url("../img/twitter-1.svg");
  background-size:15px 14px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.logo-html-academy{
  margin:0;
  padding:0;
  padding-top:47px;
  align-self:flex-start;
  outline: 1px solid rgb(192, 95, 16);
}

